@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rounded-blob {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
}

@font-face {
  font-family: "Freight";
  src: url("/fonts/FreightTextPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Freight";
  src: url("/fonts/FreightTextPro-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

.rounded-flower {
  border-radius: 50%;
  clip-path: path('M50,0 C50,0 100,50 50,100 C0,50 50,0 50,0');
}

